*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(https://i.pinimg.com/originals/ff/22/36/ff2236e2a40e5102820ea2e02ca53e35.gif) no-repeat center fixed;
    background-size: cover;
    color: #ffffff;
    text-align: center;
    padding: 150px;
    min-height: 100vh;
}
h1{
    text-shadow: 0 2px 10px;
    font-size: 60px;
    font-variant: small-caps;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 25px;
    padding: 10px;
    padding-bottom: 35px;
    color: rgb(147, 42, 154);
}
/************ BACK BTN *************/
.home-btn{
    flex-wrap: wrap;
    background-color: rgba(213, 23, 226, 0.5);
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border: 3px solid;
    border-radius: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
    margin: 10px 0;
    width: 200px;
}
.home-btn:hover{
    transform: translateY(-10px);
    padding: 9px 29px;
    background-color: var(--clr-accent);
    color: rgb(147, 42, 154);
}
/************ CARDS ***************/
.cards-container{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
/*assignments*/
.card1, .card2, .card3, .card4{
    width: 200px;
    height: 300px;
    background-color: rgba(102, 61, 105, 0.4);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    transform: translateY(-10px);
}
.card-content, .card2-content, .card3-content, .card4-content{
    padding: 20px;
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 0 10px;
    color: #e5e6e7;
}
p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #e7e7e7;
}
.btn1, .btn2, .btn3, .btn4{
    border: 1px solid;
    flex-wrap: wrap;
    color: #ffffff;
    background-color: rgba(37, 57, 157, 0.5);
    padding: 5px 10px;
    display: inline-block;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
}
/*for a responsive design*/
@media (max-width: 100px){
    .cards-container {
        flex-direction: column; 
        align-items: center;
    }
}
